<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'style/footer.css' %}">
    <link rel="stylesheet" href="{% static 'style/header.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/savat.css' %}">
    <link rel="stylesheet" href="{% static 'style/order.css' %}">
    <link rel="stylesheet" href="{% static 'style/register.css' %}">
    <link rel="stylesheet" href="{% static 'style/profil.css' %}">
    <link rel="stylesheet" href="{% static 'style/products.css' %}">
    <link rel="stylesheet" href="{% static 'style/productsCategory.css' %}">
    <link rel="stylesheet" href="{% static 'style/productsCategory.css' %}">
    <link rel="stylesheet" href="{% static 'style/chat.css' %}">
    <link rel="stylesheet" href="{% static 'style/resHeader.css' %}">
    <link rel="shortcut icon" href="../../favicon.ico">
    <title>Zamonshop</title>
</head>

<body>
    <div class="container">
        <header>

            <nav class="nav2">
                <div class="mobilNav1Div">
                    <a href="{% url 'home:home' %}"><img src="{% static 'images/image.svg' %}" alt="" class="logo"></a>
                 <div class="users">
                    <div class="accaunt">
                        <i class="fa-solid fa-user" style="color: #000000;"></i>
                        <!-- <span>Kirish</span> -->
                    </div>
                    <a href="{% url 'products:savat' %}">
                        <div class="accaunt">
                            <i class="fa-sharp fa-solid fa-cart-shopping" style="color: #000000;"></i>
                            <!-- <span>Savat</span> -->
                            <p>0</p>
                        </div>
                    </a>
                </div>
                </div>
               <div class="mobilNav1Div">
                <div class="kategoriSearch">
                    <div class="kategori">
                        <img src="{% static 'images/Frame.svg' %}" alt="">
                    </div>
                    <div class="searchDiv">
                        <input type="text" placeholder="izlash...">
                        <div class="searchIcon">
                            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                        </div>
                    </div>
                </div>
               </div>

            </nav>

            <nav class="nav1">
                <a href="{% url 'home:home' %}"><img src="{% static 'images/image.svg' %}" alt="" class="logo"></a>
                <div class="kategoriSearch">
                    <div class="kategori">
                        <img src="{% static 'images/Frame.svg' %}" alt="">
                        <p>Kategory</p>
                    </div>
                    <div class="searchDiv">
                        <input type="text" placeholder="izlash...">
                        <div class="searchIcon">
                            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                        </div>
                    </div>
                </div>
                <div class="users">
                    {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}"><div class="accaunt">
                        <i class="fa-solid fa-user" style="color: #000000;"></i>
                            <span>{{user.username}}</span>
                    </div></a>

                    {% else %}
                    <a href="{% url 'users:login' %}"><div class="accaunt">
                        <i class="fa-solid fa-user" style="color: #000000;"></i>
                            <span>Kirish</span>
                        </div></a>
                    {% endif %}
                    <a href="{% url 'products:savat' %}">
                        <div class="accaunt">
                            <i class="fa-sharp fa-solid fa-cart-shopping" style="color: #000000;"></i>
                            <span>Savat</span>
                            <p>0</p>
                        </div>
                    </a>
                </div>

            </nav>
            <ul class="listes">
                <li class="item">Parfum</li>
                <li class="item">Aromat</li>
                <li class="item">Mushkiambar</li>
                <li class="item">Womens's Collection</li>
                <li class="item">Love Potion</li>
                <li class="item">Men's Collection</li>
                <li class="item">Essense&Co.</li>
                <li class="item">Venture</li>
                <li class="item">The One</li>
                <li class="item">Soul</li>
                <li class="item">Sun 360</li>
            </ul>
            <div class="kategoriDiv">
                <div class="kategoriListes">

                    <ul class="kategoriList">
                        {% for cat in category %}
                            <li class="kategoriItem" data-target="{{cat.name}}">{{cat.name}}</li>
                        {% endfor %}

                    </ul>

                    {% for cat in category %}
                        <section id="{{cat.name}}">
                            {% for chill in cat.children.all %}
                                <div class="items">

                                    <div class="">
                                        <p>{{chill.name}}</p>

                                        <div class="plar">
                                            {% for n in chill.children.all %}
                                            <p>{{n.name}}</p>
                                            {% endfor %}
                                        </div>

                                    </div>      

                                </div>
                            {% endfor %}
                        </section>
                    {% endfor %}

                    <section id="Settings">
                        <h1> Settings </h1>
                    </section>

                    <section id="about">
                        <h1> About </h1>
                    </section>

                </div>
            </div>
            <script>
                const kategoriBtn = document.querySelector(".nav1 .kategoriSearch .kategori")
                const kategori = document.querySelector(".kategoriDiv")

                kategoriBtn.onclick = function () {
                    kategori.classList.toggle('addKategori')
                }

                const liArray = document.querySelectorAll('li')

                let currentPage = ''

                liArray.forEach(li => {
                    li.onmouseover = (event) => {
                        const target = li.getAttribute('data-target')
                        showPage(target)
                    }
                })

                function showPage(target) {
                    console.log(target);
                    document.getElementById(currentPage)?.classList.remove('visible')
                    document.getElementById(target).classList.add('visible')
                    currentPage = target
                }
     
                showPage('Home')
            </script>
        </header>
        <div class="timout">
            <span>Saytimizda hozircha dasturlash ishlari olib borilmoqda!</span>
            <button>OK</button>
        </div>
        <div class="mobilResponsive">
            <a style="text-decoration: none;" href="{% url 'home:home' %}" class="mobilResponsiveDivs">
                <img src="{% static 'images/home.svg' %}" alt="">
                <p>Главная</p>
            </a>
            <a style="text-decoration: none;" href="/" class="mobilResponsiveDivs">
                <img width="25px" src="{% static 'images/heart.svg' %}" alt="">
                <p>Избранное</p>
            </a>
            <a style="text-decoration: none;" href="{% url 'products:savat' %}" class="mobilResponsiveDivs">
                <img src="{% static 'images/shopping-cart.svg' %}" alt="">
                <p>Корзина</p>
            </a>
            <a style="text-decoration: none;" href="{% url 'home:chat' %}"><div class="mobilResponsiveDivs">
                <img width="25px" src="{% static 'images/operator.svg' %}" alt="">
                <p>Operator</p>
            </div></a>
            {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}">
            <div class="mobilResponsiveDivs">
                <img src="{% static 'images/user.svg' %}" alt="">
                <p>{{user.username}}</p>
            </div>
            </a>
            {% else %}
            <a style="text-decoration: none;" href="{% url 'users:login' %}">
            <div class="mobilResponsiveDivs">
                <img src="{% static 'images/user.svg' %}" alt="">
                <p>Kirish</p>
            </div>
            </a>
            {% endif %}
        </div>
        {% block content %}

        {% endblock content %}

        <footer class="footer">

            <div class="footerDiv">
                <p>Bog'lanish
                <div class="hr"></div>
                </p>

                <div class="footerInfo">
                    <span>+998943614656</span>
                    <span>Asadbek Abdullayev</span>
                </div>
            </div>

            <div class="footerDiv">
                <p>Kompaniya
                <div class="hr"></div>
                </p>
                <div class="footerInfo">
                    <span>Biz haqimizda </span>
                    <span>Bizning hizmatlar</span>
                    <span>Bizning hizmatlar</span>
                    <span>Xavfsizlik</span>
                </div>
            </div>


            <div class="footerDiv">
                <p>Yordam 24/7
                <div class="hr"></div>
                </p>
                <div class="footerInfo">
                    <span>FAQ</span>
                    <span>Telegram yordam</span>
                    <span>returns</span>
                    <span>+998943614656</span>
                    <span>To'lov usullari</span>
                </div>
            </div>

            <div class="footerDiv">
                <p>Bog'lanish
                <div class="hr"></div>
                </p>
                <div class="footerIcon">
                    <i class="fa-brands fa-telegram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
            <div class="footerPay">
                <span>To'lov Usullari</span>
                <div class="hr"></div>
                <div class="paybtns">
                    <button><img src="https://mediapark.uz/images/payment-methods/cardUz.png" alt=""></button>
                    <button><img src="https://mediapark.uz/images/payment-methods/click.png" alt=""></button>
                    <button><img src="https://mediapark.uz/images/payment-methods/humo.png" alt=""></button>
                    <button><img src="https://mediapark.uz/images/payment-methods/mastercard.png" alt=""></button>
                    <button><img src="https://mediapark.uz/images/payment-methods/payme.png" alt=""></button>
                    <button><img src="https://mediapark.uz/images/payment-methods/visa.png" alt=""></button>
                </div>
            </div>
    </footer>
    
    <footer class="footer2">
        <div class="footerDiv2">
            <div class="footerDiv">
                <p>Bog'lanish
                <div class="hr"></div>
                </p>

                <div class="footerInfo">
                    <span>+998976036464</span>
                    <span>Asadbek Abdullayev</span>
                </div>
            </div>

            <div class="footerDiv">
                <p>Kompaniya
                <div class="hr"></div>
                </p>
                <div class="footerInfo">
                    <span>Biz haqimizda </span>
                    <span>Bizning hizmatlar</span>
                    <span>Bizning hizmatlar</span>
                    <span>Xavfsizlik</span>
                </div>
            </div>
        </div>

        <div class="footerDiv2">
            <div class="footerDiv">
                <p>Yordam 24/7
                <div class="hr"></div>
                </p>
                <div class="footerInfo">
                    <span>FAQ</span>
                    <span>Telegram yordam</span>
                    <span>returns</span>
                    <span>+998943614656</span>
                    <span>To'lov usullari</span>
                </div>
            </div>
            <div class="footerDiv">
                <p>Bog'lanish
                <div class="hr"></div>
                </p>
                <div class="footerIcon">
                    <i class="fa-brands fa-telegram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>

        </div>
        <div class="footerPay">
            <span>To'lov Usullari</span>
            <div class="hr"></div>
            <div class="paybtns">
                <button><img src="https://mediapark.uz/images/payment-methods/cardUz.png" alt=""></button>
                <button><img src="https://mediapark.uz/images/payment-methods/click.png" alt=""></button>
                <button><img src="https://mediapark.uz/images/payment-methods/humo.png" alt=""></button>
                <button><img src="https://mediapark.uz/images/payment-methods/mastercard.png" alt=""></button>
                <button><img src="https://mediapark.uz/images/payment-methods/payme.png" alt=""></button>
                <button><img src="https://mediapark.uz/images/payment-methods/visa.png" alt=""></button>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>