{% extends 'home/base.html' %}
{% load static humanize %}
{% block content %}

<!-- Main qismi -->
<main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="border-radius: 10px;">
            {% if banner %}

            {% for ban in banner %}
            <div class="carousel-item active">
                <img style="border-radius: 10px; width: 100%;" src="https://zamonshop.uz/media/banner/2023/05/23/zamon.jpg" class="d-block w-100" alt="">
            </div>
            {% endfor %}
            
            {% else %}
            <div class="carousel-item active">
                <img style="border-radius: 10px; width: 100%;" src="https://zamonshop.uz/media/banner/2023/05/23/zamon.jpg" class="d-block w-100" alt="">
            </div>

            {% endif %}
            {% comment %} <div class="carousel-item">
                <img src="{% static 'images/1.a742c0f72d4bfa03a98a.png.svg' %}" class="d-block w-100" alt="">
            </div> {% endcomment %}
        </div>
    </div>

    <div class="resHeader">
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false"
            space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            {% if swipe_banner %}
                {% for sp in swipe_banner %}
                    <swiper-slide><a href=""><img src="{{ sp.image.url }}" alt="bnimag"></a></swiper-slide>
                {% endfor %}
                {% else %}
                    <swiper-slide><a href=""><img src="https://s.alicdn.com/@img/imgextra/i3/O1CN01C3ATKV23zok8V3dzo_!!6000000007327-0-tps-486-816.jpg_640x640q80.jpg" alt=""></a></swiper-slide>
                    <swiper-slide><a href=""><img src="https://s.alicdn.com/@img/imgextra/i4/O1CN01UY02aB1RrcJarRZ5d_!!6000000002165-0-tps-486-816.jpg_640x640q80.jpg" alt=""></a></swiper-slide>
            {% endif %}
        </swiper-container>
        <div class="randomProd">
            {% comment %} {% if tanlangan_banner %} {% endcomment %}
            {% for tan in tanlangan_banner %}
                <div class="randomProdChil1">
                    <a href=""><img src="{{tan.category.top_image.url}}" alt=""></a>
                </div>
            {% endfor %}

            {% comment %} {% else %}
                <div class="randomProdChil1">
                    <a href=""><img src="{% static 'images/nans.jpg' %}" alt=""></a>
                </div>
                <div class="randomProdChil2">
                    <a href=""><img src="{% static 'images/nans.jpg' %}" alt=""></a>
                </div>
            {% endif %} {% endcomment %}
        </div>
    </div>
    <div class="resHeaderCat">
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat1.png' %}" alt="">
            <span>So'vg'alar</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat2.png' %}" alt="">
            <span>Oshxona uchun</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat3.png' %}" alt="">
            <span>O'quv qurollari</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat4.png' %}" alt="">
            <span>Soatlar</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat5.png' %}" alt="">
            <span>Kitoblar</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat6.png' %}" alt="">
            <span>Telvizorlar</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat7.png' %}" alt="">
            <span>Telefonlar</span>
        </div>
        <div class="resHeaderCatCategory">
            <img src="{% static 'images/mbcat9.png' %}" alt="">
            <span>Sprot</span>
        </div>
    </div>

    <div class="productInfo">
        <h1>Ko'p sotilganlar <img src="../images/Vector.svg" alt=""></h1>

        <!-- Mahsulotlar -->

        <div class="Products">
            {% for prod in products %}
            
            <div class="product">
                <!-- <div class="sale">
                    <span>20%/sale</span>
                </div> -->
                <a href="{% url "products:product_detail" prod.id %}">
                    <div class="img">
                        <img src="{{prod.image.image.url}}" alt="" />
                    </div>
                </a>
                <div class="poductInfo">
                    <a style="text-decoration: none;" href="{% url "products:product_detail" prod.id %}">
                    <p class="name" style="font-size: 18px; width: 100%">{{prod.name}}</p>
                    </a>
                    <p class="prodDesck" style="color: #5e5e5e;">{{prod.category.name}}</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(5px); font-size: 14px;">{{prod.old_price}} so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">{{prod.price}} so'm</p>
                        <a href="{% url "products:basketadd" prod.id %}">
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>

    <div class="productInfo">
        <h1>Ayollar uchun <img src="../images/Vector.svg" alt=""></h1>

        <!-- Mahsulotlar -->

        <div class="Products">

            <div class="product">
                <!-- <div class="sale">
                    <span>20%/sale</span>
                </div> -->
                <div class="img">
                    <img src="https://mediapark.uz/_next/image?url=https%3A%2F%2Fcdn.newmediapark.uz%2Fimages%2Fe5f0cc8c-c8ec-43c0-bf04-6eeaebf6d899_test.jpg&w=1080&q=75" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Samsung b32 92/88GB</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(5px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="https://images.uzum.uz/chdrlk96i6dim8r78uug/t_product_540_high.jpg#1684579571975" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Suv</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>
 
            <div class="product">
                <!-- <div class="sale">
                    <span>20%/sale</span>
                </div> -->
                <div class="img">
                    <img src="https://zamonshop.uz/media/products/chi7rkdenntd8rf9i9j0-removebg-preview.png" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Suniy havo berish moslamsi</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">chanel 189823</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="https://olcha.uz/image/600x600/products/2020-10-24/apple-iphone-12-pro-128gb-18410-0.jpeg" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">chanel 189823</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">chanel 189823</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="sale">
                    <span>20%/sale</span>
                </div>
                <div class="img">
                    <img src="https://zamonshop.uz/media/products/ch0i60ng49devoaekhc0.jpg" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">chanel 189823</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="sale">
                    <span>20%/sale</span>
                </div>
                <div class="img">
                    <img src="https://zamonshop.uz/media/products/ch0i60ng49devoaekhc0.jpg" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">chanel 189823</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">mchanel 189823</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />

                </div>
                <div class="poductInfo">
                    <p class="name">Chanel #112</p>

                    <div class="sum">
                        <p class="hozirgi">999 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="padding-top: 20px;">
        <div class="carousel-inner" style="border-radius: 10px;">
            {% if banner %}

            {% for ban in banner %}
            <div class="carousel-item active">
                <img style="border-radius: 10px; width: 100%;" src="{{ban.image.url}}" class="d-block w-100" alt="">
            </div>
            {% endfor %}
            
            {% else %}
            <div class="carousel-item active">
                <img style="border-radius: 10px; width: 100%;" src="https://images.uzum.uz/chf3ql56sfhndlbm30ug/main_page_banner.jpg" class="d-block w-100" alt="">
            </div>

            {% endif %}
            {% comment %} <div class="carousel-item">
                <img src="{% static 'images/1.a742c0f72d4bfa03a98a.png.svg' %}" class="d-block w-100" alt="">
            </div> {% endcomment %}
        </div>
    </div>

    <div class="productInfo">
        <h1>Ko'p sotilganlar <img src="../images/Vector.svg" alt=""></h1>

        <!-- Mahsulotlar -->

        <div class="Products">

            <div class="product">
                <!-- <div class="sale">
                    <span>20%/sale</span>
                </div> -->
                <div class="img">
                    <img src="https://mediapark.uz/_next/image?url=https%3A%2F%2Fcdn.newmediapark.uz%2Fimages%2Fe5f0cc8c-c8ec-43c0-bf04-6eeaebf6d899_test.jpg&w=1080&q=75" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Samsung b32 92/88GB</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="https://images.uzum.uz/chdrlk96i6dim8r78uug/t_product_540_high.jpg#1684579571975" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Suv</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>



    <div class="productInfo">
        <h1>Ayollar uchun <img src="../images/Vector.svg" alt=""></h1>

        <!-- Mahsulotlar -->

        <div class="Products">

            <div class="product">
                <!-- <div class="sale">
                    <span>20%/sale</span>
                </div> -->
                <div class="img">
                    <img src="https://mediapark.uz/_next/image?url=https%3A%2F%2Fcdn.newmediapark.uz%2Fimages%2Fe5f0cc8c-c8ec-43c0-bf04-6eeaebf6d899_test.jpg&w=1080&q=75" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Samsung b32 92/88GB</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="img">
                    <img src="https://images.uzum.uz/chdrlk96i6dim8r78uug/t_product_540_high.jpg#1684579571975" alt="" />
                </div>
                <div class="poductInfo">
                    <p class="name" style="font-size: 18px; width: 100%">Suv</p>
                    <p class="prodDesck" style="color: #5e5e5e;">samsung</p>
                    <p style="text-decoration:line-through; color: #8f8f8f; transform: translateY(10px); font-size: 14px;">999 999 so'm</p>
                    <div class="sum">
                        <p class="hozirgi" style="font-weight: 500;">888 000 so'm</p>
                        <div class="korish">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>

<!-- Main Qismi Tugashi -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script>
    $('.carousel-item').carousel({
        interval: 1000 * 1
    });
</script>
{% endblock content %}