.chat {
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 420px){
    .chat {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        z-index: 999999989;
    }
    .chatHeader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .chatHeaderRight button {
        border: none;
        background-color: transparent;
        transform: translateY(-15px) translateX(-5px);
    }
    .chatHeader .chatHeaderLeft {
        display: flex;
        flex-direction: column;
    }
    .chatHeader .chatHeaderLeft span {
        font-size: 12px;
        color: green;
        padding-left: 4px;
    }
    .chatMain {
        width: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 10px;
    }
    .adminMassage {
        width: 90%;
        padding: 5px 10px;
        background-color: #5a565628;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .massageInfo {
        font-size: 10px;
        font-weight: 500;
        color: #575656;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .massageInfo .chatuserName {
        font-size: 12px;
        color: #000;
        font-weight: 600;
    }
    .adminMassage .mass {
        padding-left: 7px;
        font-size: 17px;
    }
    .userMassage {
        width: 90%;
        padding: 5px 10px;
        background-color: rgba(68,103,232, 1);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 10%;
    }
    .userMassage .massageInfo {
        font-size: 10px;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .userMassage .chatuserName {
        font-size: 12px;
        color: #fefefe;
        font-weight: 600;
    }
    .adminMassage .chatuserName {
        font-size: 12px;
        color: #000;
        font-weight: 600;
    }
    .userMassage .mass {
        color: #ffffff;
    }
    .chatBottom {
        height: 90px;
        border-top: 1px solid rgba(0, 0, 0, 0.168);
        display: flex;
        align-items: center;
    }
    .sendMassage {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.168);
        display: flex;
        padding: 0px 10px;
    }
    .sendMassage input {
        flex: 1;
        height: 40px;
        border: none;
        outline: none;
        padding-left: 5px;
    }
    .sendMassage button {
        border: none;
        background-color: transparent;
    }
}

.sale {
    width: 55px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 2px;
}

.sale span {
    color: white;
    font-size: 12px;
}