{% extends 'home/base.html' %}
{% load static %}   
{% block content %}




<div class="Savat">
    <div class="karzinkaProducts">
        {% for bask in baskets %}
        <div class="karzinkaProduct">
            <div class="imgName">
                <img src="{{ bask.product.image.image.url }}" alt="">
                <p>{{ bask.product.name }}</p>
            </div>
            <div class="cunterPrice">
                <div class="counter">
                    <p>-</p>
                    <span>{{ bask.quantity }} </span>
                    <p>+</p>
                </div>
                <h5 class="price">{{ bask.de_json.sum }} so'm</h5>
            </div>
        </div>
        {% endfor %}

    </div>     
    <div class="addZakaz">
        <p class="buyurtma">Sizning buyurtmangiz <span>{{ total_quantity }}</span></p>
        <div class="allPrice">
            <span>Jami:</span>
            <p>{{ total_sum }} so`m</p>
        </div>
        <div class="zakazBtns">
            <p>Dokonga Qaytish</p>
            <p><a href="{% url 'orders:order' %}"> Sotib Olish</a> </p>
        </div>
    </div>
</div>


{% endblock content %}