{% extends 'home/base.html' %}
{% load static humanize %}
{% block content %}

<div class="productPage">
    <div class="productPage_Image">
        <p class="boshTitle">Bosh sahifa / Barcha turkumlar / Oziq-ovqat mahsulotlari / Bakaleya / Yog’lar </p>
        <div class="productPage_Img">
            <img class="productImgInfo" src="{{product.image.url}}" alt="">
            <div class="productImages">
                <img class="productImgInfo_mini" src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
                <img class="productImgInfo_mini" src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
                <img class="productImgInfo_mini" src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
                <img class="productImgInfo_mini" src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
            </div>
        </div>

    </div>
    <div class="productPage_Info">
        <div class="ballHator">
            <div class="ballar">
                <p>5.0</p>
                <p>(842 baho)</p>
                <p>Koʻproq 37500 buyurtma</p>
            </div>
            <div class="izbrenni">
                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                <p class="likee">Istaklarga</p>
            </div>
        </div>
        <div class="infoHator">
            <p>{{product.name}}</p>
        </div>
        <div class="productInfoHator">
            <div class="sotuvchi">
                <p>Sotuvchi:</p>
                <p>PROGRESS</p>
            </div>
            <div class="yetkazish">
                <p>Yetkazib berish:</p>
                <p>1 kun, bepul</p>
            </div>
        </div>
        <hr>
        <div class="counterSotuv">
            <p>Miqdor:</p>
            <div class="CounterS">
                <div class="Counter">
                    <span class="counterBtn">-</span>
                    <span>1</span>
                    <span class="counterBtn">+</span>
                </div>
                <span style="color: #0c16a5;" class="productSon">Bor-yoʻgi 2 dona qoldi</span>
            </div>
        </div>
        <div class="harxHator">
            <span>Narx:</span>
            <p>{{product.price | intcomma}} so'm</p>
        </div>
        <div class="btnsHator">
            <span>Savatga qoʻshish</span>
            <p>Hoziroq sotib olish</p>
        </div>
        <div class="productDescription">
            <span>Iphone 14 pro max</span>
            <p>Brend
                Apple
                Batareya (mAh)
                4323
                Тип Sim карты
                E-Sim
                Og'irligi (g)
                250
                Qalinligi (mm)
                7.65
                Kengligi (mm)
                78.1
                Balandligi (mm)
                160.8
                Rang
                Фиолетовый
                OS versiyasi
                iOS 16
                Ekranning yangilanish tezligi
                120 герц.
                Operativ xotira (GB)
                6
                Protsessor
                Apple A16 Bionic Pro
                Kamera (MP)
                48+12+12
                Разрешение (пикселей)
                1170x2532
                Диагональ (дюймов)
                6.7
                Old kamera (Mp)
                12
                Yadrolar soni
                6
                O'rnatilgan xotira (GB)
                128
                Model
                iPhone 14 Pro Max
            </p>
        </div>
    </div>
    <div class="mobilFooterKarzina">
        <div class="mobilResponsiveNarx">
            <span>Narx umumiy</span>
            <p>{{product.price | intcomma}} so'm</p>
        </div>
        <i class="fa-regular fa-heart" style="color: #ffffff;"></i>
        <p class="mobilresponsiveBtn">
            Savatga
        </p>
    </div>
</div>

{% endblock content %}