{% extends 'home/base.html' %}
{% load static %}   
{% block content %}


<div class="Elektronika">
    <p class="pages_list">Bosh sahifa / Barcha toifalar /Aksesuar</p>
    <div class="elektornikaMenu">
        <h2 class="title">Аксессуары</h2>
        <div class="selects2">
            <span>Saralash</span>
            <select name="" id="">
                <option value="">Ommabop</option>
            </select>
        </div>
    </div>
    <hr class='hrElecktronika' />
    <div class="contentss">
        <div class="elements">
            <p class="elemTitle">Turkumlar</p>
            <ul class="listItems">
                <!-- <Link to={'/barcha'}> -->
                <li class="listItemstext bar"><i class="fa-solid fa-angle-left"></i> Barcha turkumlar</li>
                <!-- </Link> -->
                <li class='listItemstext mainText'>Aksessuarlar</li>
                <li class="listItemstext">Kattalar uchun aksessuarlar</li>
                <li class="listItemstext">Qizlar uchun aksessuarlar</li>
                <li class="listItemstext">Oʻgʻil bolalar uchun aksessuarlar</li>
                <li class="listItemstext">Sayohat uchun aksessuarlar</li>
                <li class="listItemstext">Ayollar aksessuarlari</li>
                <li class="listItemstext">Erkaklar aksessuarlari</li>
                <li class="listItemstext">Diniy aksessuarlar</li>
            </ul>
            <p class="elemTitle">Narx, baho</p>
            <div class="narx">
                <div class="narxInput">
                    <div class="inputTextura">
                        <div class="oranm">
                            <p>dan</p>
                            <input type="text" value={narx} />
                        </div>

                    </div>
                    <div class="inputTextura">
                        <div class="oranm">
                            <p>oldin</p>
                            <input type="text" value={max} />
                        </div>
                    </div>
                </div>

            </div>
            <p class="elemTitle">Brend</p>
            <div class="Brend">
                <p>
                    <input type="checkbox" />
                    1MORE
                </p>
                <p>
                    <input type="checkbox" />
                    7saber
                </p>
                <p>
                    <input type="checkbox" />
                    HAGIBIS
                </p>
                <p>
                    <input type="checkbox" />
                    NOVEY
                </p>
                <p>
                    <input type="checkbox" />
                    Varmilo
                </p>
                <p>
                    <input type="checkbox" />
                    2E
                </p>
            </div>
        </div>

        <div class="Cardss">

            <div class="categoryP">
                <div class="imgg">
                    <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                    <div class="Productkarzina">
                        <p>Savatga</p>
                    </div>
                </div>
                <div class="poductInfo">
                    <p class="name">Chanel #112</p>

                    <div class="sum">
                        <p class="hozirgi">999 000 so'm</p>
                        <div class="korish"><i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" categoryP">
                <div class="imgg">
                    <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                    <div class="Productkarzina">
                        <p>Savatga</p>
                    </div>
                </div>
                <div class="poductInfo">
                    <p class="name">Chanel #112</p>

                    <div class="sum">
                        <p class="hozirgi">999 000 so'm</p>
                        <div class="korish"><i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" categoryP">
                <div class="imgg">
                    <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                    <div class="Productkarzina">
                        <p>Savatga</p>
                    </div>
                </div>
                <div class="poductInfo">
                    <p class="name">Chanel #112</p>

                    <div class="sum">
                        <p class="hozirgi">999 000 so'm</p>
                        <div class="korish"><i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" categoryP">
                <div class="imgg">
                    <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                    <div class="Productkarzina">
                        <p>Savatga</p>
                    </div>
                </div>
                <div class="poductInfo">
                    <p class="name">Chanel #112</p>

                    <div class="sum">
                        <p class="hozirgi">999 000 so'm</p>
                        <div class="korish"><i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" categoryP">
                <div class="imgg">
                    <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                    <div class="Productkarzina">
                        <p>Savatga</p>
                    </div>
                </div>
                <div class="poductInfo">
                    <p class="name">Chanel #112</p>

                    <div class="sum">
                        <p class="hozirgi">999 000 so'm</p>
                        <div class="korish"><i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
            </div>



        </div>




    </div>
</div>



{% endblock content %}

